body{
  margin: 0;
}

header{
  background: #2d2d2d;
}

.headerInner,.mainInner{
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}
body{
  background-color: #fefef5;
}

.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  background: #2d2d2d;
}

.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
h1{
  -webkit-text-fill-color: aliceblue;
}
h6{
  -webkit-text-fill-color: aliceblue;
}
